/* body{
    text-align: center;
    
}
div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}
button{
    margin-bottom: 20px;
} */


/* upper style is applicable for activity changeColor.......... */


/* EventListenerForEvents  STARTED...................... */


/* .box{
    height: 100px;
    width: 100px;
    background-color: beige;
    border:1px solid black;
    text-align: center;
} */


/* EventListenerForEvents  ENDED........................... */
